body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e0057; 
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

canvas {
    border: 2px solid #fff;
    background-image: url('images/backgroundLarger.png');
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    image-rendering: pixelated;
    cursor: crosshair;
    width: 100vw;  
    height: 100vh; 
    display: block;
    margin: auto;
    border-radius: 10px;
}
@media screen and (max-width: 800px) {
    canvas {
        width: 100vw;  
        height: 80vh;
        background-image: url('images/background.png'); 
        border-radius: 0; 
    }
    body{
        display: inline;
    }
}
